// Styles for the cobranded logo

.navbar-default .navbar-nav > li.co-branded-logo-wrapper > a {
  padding: 0;

  &:hover {
    background-color: transparent;
  }
}

.navbar-left .co-branded-logo-wrapper {
  @media #{$xs-to-md} {
    display: none;
  }
}

.co-branded-logo {
  max-height: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
}
