// Disclosure field
.field-disclosure {
  border-top: 2px solid $color-light-gray;
  margin: 30px auto;
  padding-top: 24px;

  p {
    overflow-wrap: break-word;
    word-wrap: break-word;

    > a {
      word-break: break-all;
    }

    &:last-of-type {
      margin: 0;
    }
  }
}
