// Hero field
.hero-inverse {
  .hero-copy {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
      color: $color-white;
    }
  }
}

.hero-copy {
  @media #{$xs-to-md} {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
      color: $color-white;
    }
  }
}
