// Right Rail
.ds-sidebar {
  padding-bottom: 5px;

  // Adding margin top for sidebar so the main content doesn't run in to the sidebar content on mobile
  // We don't want to do this globally, because we have other uses where we want the grid be flush
  @media #{$xs-and-small-only} {
    background-color: $color-white;
    margin-top: 20px;

    & > .cta-wrapper,
    & > .right-rail-component {
      padding-left: 0;
      padding-right: 0;
    }
  }

  @media #{$medium-up} {
    padding-bottom: 15px;
  }

  span.inline-block-side {
    display: inline-block;
    width: 100%;
  }

  .btn {
    white-space: normal;
  }

  // backup for responsive
  img {
    margin-right: 0;
    max-width: 100%;
  }
}

.right-rail-component {
  padding: 12px 15px;
  float: left;
  width: 100%;

  &:first-child {
    padding-top: 0;
  }
}

