// This file is for code that's a workaround you'd like to see go away one day
// or stuff that will be updated soon
// or anything you're not happy that you're having to do :P

// This is necessary to override the util class
.right-rail-component:first-child {
  padding-top: 0 !important;
}

// GCBIA-671: Adjust the fixed positioning of the header when the admin
// menu is present
// Horizontal Nav
.navbar-static-top.adjust-nav-with-admin-menu-horizontal {
  // Admin-menu height is 79px, so push the top navbar down to match
  top: 79px;
}

.dropdown-menu.nav-second-tier.adjust-nav-with-admin-menu-horizontal {
  // Admin-menu height is 79px, original "top" value for the second-tier menu was 60px. 60px + 79px = 139px
  top: 139px;
}

.dropdown-menu.nav-second-tier.adjust-nav-with-admin-menu-horizontal.sticky-nav-engaging.sticky-nav-engaged {
  // Admin-menu height is 79px, so push the sticky nav down to match
  top: 79px;
}
// Vertical nav
.navbar-static-top.adjust-nav-with-admin-menu-vertical {
  // Admin-menu height is 39px, so push the top navbar down to match
  top: 39px;
}

.dropdown-menu.nav-second-tier.adjust-nav-with-admin-menu-vertical {
  // Admin-menu height is 39px, original "top" value for the second-tier menu was 60px. 60px + 39px = 99px
  top: 99px;
}

.dropdown-menu.nav-second-tier.adjust-nav-with-admin-menu-vertical.sticky-nav-engaging.sticky-nav-engaged {
  // Admin-menu height is 39px, so push the sticky nav down to match
  top: 39px;
}

// Hides the HTML5 spinner for number input type fields; couldn't find cross-browser equivalent for webkit and moz properties
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
