// Styles for the unauthenticated tier two header

@media #{$large-up} {
  .navbar-unauthenticated {
    .navbar-left {
      .nav-second-tier {
        .tier-two-ul {
          > li {
            > a {
              height: 90px;
              padding-top: 5px;
              padding-bottom: 5px;
              color: $color-dark-gray;

              &:hover,
              &:focus {
                color: $link-color;
                text-decoration: none;
              }

              &.tier-two-active-page {
                padding-bottom: 0;
              }
            }
          }
        }

        &.sticky-nav-engaged,
        &.sticky-nav-engaging {
          .tier-two-ul {
            > li {
              > a {
                height: 70px;
              }
            }
          }
        }
      }
    }
  }
}
