// By default, Drupal condenses a multi-column layout to a single column at 400px,
// so we need our CSS to match when that occurs rather than using a breakpoint as defined by Horizon

@media #{$screen} and (min-width: rem-calc(400)) {
  .webform-options-display-two-columns,
  .webform-options-display-three-columns {
    .radio,
    .checkbox {
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}
