.field-disclosure {
  border-top: 2px solid #f1f1f1;
  margin: 30px auto;
  padding-top: 24px; }
  .field-disclosure p {
    overflow-wrap: break-word;
    word-wrap: break-word; }
    .field-disclosure p > a {
      word-break: break-all; }
    .field-disclosure p:last-of-type {
      margin: 0; }

.ds-sidebar {
  padding-bottom: 5px; }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .ds-sidebar {
      background-color: #ffffff;
      margin-top: 20px; }
      .ds-sidebar > .cta-wrapper,
      .ds-sidebar > .right-rail-component {
        padding-left: 0;
        padding-right: 0; } }
  @media only screen and (min-width: 768px) {
    .ds-sidebar {
      padding-bottom: 15px; } }
  .ds-sidebar span.inline-block-side {
    display: inline-block;
    width: 100%; }
  .ds-sidebar .btn {
    white-space: normal; }
  .ds-sidebar img {
    margin-right: 0;
    max-width: 100%; }

.right-rail-component {
  padding: 12px 15px;
  float: left;
  width: 100%; }
  .right-rail-component:first-child {
    padding-top: 0; }

.navbar-default .navbar-nav > li.co-branded-logo-wrapper > a {
  padding: 0; }
  .navbar-default .navbar-nav > li.co-branded-logo-wrapper > a:hover {
    background-color: transparent; }

@media only screen and (min-width: 0) and (max-width: 959px) {
  .navbar-left .co-branded-logo-wrapper {
    display: none; } }

.co-branded-logo {
  max-height: 60px;
  padding-top: 5px;
  padding-bottom: 5px; }

.right-rail-component:first-child {
  padding-top: 0 !important; }

.navbar-static-top.adjust-nav-with-admin-menu-horizontal {
  top: 79px; }

.dropdown-menu.nav-second-tier.adjust-nav-with-admin-menu-horizontal {
  top: 139px; }

.dropdown-menu.nav-second-tier.adjust-nav-with-admin-menu-horizontal.sticky-nav-engaging.sticky-nav-engaged {
  top: 79px; }

.navbar-static-top.adjust-nav-with-admin-menu-vertical {
  top: 39px; }

.dropdown-menu.nav-second-tier.adjust-nav-with-admin-menu-vertical {
  top: 99px; }

.dropdown-menu.nav-second-tier.adjust-nav-with-admin-menu-vertical.sticky-nav-engaging.sticky-nav-engaged {
  top: 39px; }

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type='number'] {
  -moz-appearance: textfield; }

@media only screen and (min-width: 960px) {
  .navbar-unauthenticated .navbar-left .nav-second-tier .tier-two-ul > li > a {
    height: 90px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #464646; }
    .navbar-unauthenticated .navbar-left .nav-second-tier .tier-two-ul > li > a:hover, .navbar-unauthenticated .navbar-left .nav-second-tier .tier-two-ul > li > a:focus {
      color: #0076cf;
      text-decoration: none; }
    .navbar-unauthenticated .navbar-left .nav-second-tier .tier-two-ul > li > a.tier-two-active-page {
      padding-bottom: 0; }
  .navbar-unauthenticated .navbar-left .nav-second-tier.sticky-nav-engaged .tier-two-ul > li > a, .navbar-unauthenticated .navbar-left .nav-second-tier.sticky-nav-engaging .tier-two-ul > li > a {
    height: 70px; } }

.hero-inverse .hero-copy h1,
.hero-inverse .hero-copy h2,
.hero-inverse .hero-copy h3,
.hero-inverse .hero-copy h4,
.hero-inverse .hero-copy h5,
.hero-inverse .hero-copy h6,
.hero-inverse .hero-copy .h1,
.hero-inverse .hero-copy .h2,
.hero-inverse .hero-copy .h3,
.hero-inverse .hero-copy .h4,
.hero-inverse .hero-copy .h5,
.hero-inverse .hero-copy .h6 {
  color: #ffffff; }

@media only screen and (min-width: 0) and (max-width: 959px) {
  .hero-copy h1,
  .hero-copy h2,
  .hero-copy h3,
  .hero-copy h4,
  .hero-copy h5,
  .hero-copy h6,
  .hero-copy .h1,
  .hero-copy .h2,
  .hero-copy .h3,
  .hero-copy .h4,
  .hero-copy .h5,
  .hero-copy .h6 {
    color: #ffffff; } }

@media only screen and (min-width: 400px) {
  .webform-options-display-two-columns .radio,
  .webform-options-display-two-columns .checkbox,
  .webform-options-display-three-columns .radio,
  .webform-options-display-three-columns .checkbox {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px; } }

/*# sourceMappingURL=styles.css.map */