<div class="region region-footer">
  <footer class="footer">
    <section id="block-menu-menu-footer-bottom" class="footer-row">
      {% if include_social_icons %}
        <div class="footer-social-links">
          <a href="https://www.facebook.com/PrincipalFinancial" target="_blank"><i class="fa fa-facebook"></i></a>
          <a href="https://www.twitter.com/Principal" target="_blank"><i class="fa fa-twitter"></i></a>
          <a href="https://www.linkedin.com/company/principal-financial-group" target="_blank"><i class="fa fa-linkedin"></i></a>
          <a href="https://www.youtube.com/user/PrincipalFinancial" target="_blank"><i class="fa fa-youtube-play"></i></a>
        </div>
      {% endif %}
      <nav>
        <ul class="nav nav-inline">
          {% for link in footer_links %}
            <li>
              <a href="{{ link.url }}" title="">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
      <div class="footer-legal">
        {{ legal_footer_content|raw }}
      </div>
    </section>
  </footer>
</div>
