<header class="navbar-principal-primary navbar-unauthenticated">
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="navbar-header">
            <div class="container">
                <div class="logo-full-tier1 visible-xs visible-sm visible-md">
                  {% if has_cobranded_logo %}
                    <li class="co-branded-logo-wrapper">
                      <a href="{{ site_base_path }}" class="">
                        <img class="co-branded-logo util-padding-right-15" src="{{ cobranded_logo_src }}"/>
                      </a>
                    </li>
                  {% else %}
                    <a href="{{ site_base_path }}" class="navbar-brand logo-full-white">Principal</a>
                  {% endif %}
                </div>
                <ul class="mobile-nav-right visible-xs visible-sm visible-md">
                    <li>
                        <a class="navbar-toggle" data-toggle="collapse" data-target="#principal-primary-navbar" data-parent="nav">
                            <i class="fa fa-navicon"></i>
                            Menu
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container panel">
          <div class="collapse navbar-collapse" id="principal-primary-navbar">
            <div class="row">
              <div class="col-lg-10">
                <ul class="nav navbar-nav navbar-left">
                  {% if has_cobranded_logo %}
                    <li class="co-branded-logo-wrapper">
                      <a href="{{ site_base_path }}" class="">
                        <img class="co-branded-logo util-padding-right-30" src="{{ cobranded_logo_src }}"/>
                      </a>
                    </li>
                  {% else %}
                    <li class="logo-full-tier1">
                      <a href="{{ site_base_path }}" class="logo-full-white">Principal</a>
                    </li>
                  {% endif %}
                  {% for link in left_tier1_header_links %}
                    <li class="dropdown has-chevron">
                      <a class="{{ link.current_page_classes }}" href="{{ link.url }}" title="">
                        {{ link.title }}
                      </a>
                      <a class="dropdown-toggle" data-toggle="dropdown">
                        <div class="dropdown-caret">&nbsp;</div>
                      </a>
                      <div class="dropdown-menu nav-second-tier">
                        <div class="sticky-nav">
                          <div class="container">
                            <div class="row">
                              <div class="col-md-2 show-with-sticky-nav">
                                <ul>
                                  <li class="logo-full-tier2">
                                  {% if has_cobranded_logo_2 %}
                                    <a href="{{ site_base_path }}" class="">
                                      <img class="co-branded-logo-2 util-padding-right-30" src="{{ cobranded_logo_2_src }}"/>
                                    </a>
                                  {% else %}
                                    <a href="{{ site_base_path }}" class="logo-full-gradient">Principal</a>
                                  {% endif %}
                                  </li>
                                </ul>
                              </div>
                              <div class="col-lg-10">
                                <ul class="nav-second-tier-menu tier-two-ul">
                                  <li class="visible-xs visible-sm visible-md">
                                    <a href="{{ link.url }}" class="{{ link.title }}">Overview</a>
                                  </li>
                                  {% for tier2link in tier2_header_links %}
                                    {% if tier2link.parent_page_title == link.title %}
                                      <li>
                                        <a href="{{ tier2link.url }}" class="{{ tier2link.parent_page_title|lower }} {{ tier2link.current_page_classes }}">{{ tier2link.title }}</a>
                                      </li>
                                    {% endif %}
                                  {% endfor %}
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  {% endfor %}
                  {% for link in right_tier1_header_links %}
                    <li class="dropdown hidden-lg hidden-xl">
                      <a href="{{ link.url }}" title="">
                        {{ link.title }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
                <div class="col-lg-2">
                  <ul class="nav navbar-nav navbar-right hidden-xs hidden-sm hidden-md">
                    {% for link in right_tier1_header_links %}
                      <li class="pull-right">
                        <a href="{{ link.url }}" title="">
                          {{ link.title }}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
              </div>
            </div>
          </div>
        </div>
    </nav>
</header>

