<div class="hero">
  {{ content.heroimage }}
</div>
<div class="container {% if content.ctas|render|trim is not empty or content.contactinfo|render|trim is not empty %}util-margin-top-30{% endif %}">
  <div class="row">
    <div id="parent-div" class="{% if content.ctas|render|trim is not empty or content.contactinfo|render|trim is not empty %}col-xs-12 col-md-8 {% else %}col-xs-12{% endif %}">

      <div class="title">
        {{ content.title }}
      </div>

      <div class="body-copy-1 util-margin-top-15">
        {{ content.bodycopy1 }}
      </div>

      <div class="body-copy-2 util-margin-top-15">
        {{ content.bodycopy2 }}
      </div>

      <div class="webform util-margin-top-15 util-margin-bottom-15">
        {{ content.webform }}
      </div>

    </div>

    {% if content.ctas|render|trim is not empty or content.contactinfo|render|trim is not empty %}
      <div class="ds-sidebar col-xs-12 col-md-4">
        {{ content.ctas }}
        {{ content.contactinfo }}
      </div>
    {% endif %}

  </div>
</div>

{% if content.disclosure|render|trim is not empty %}
  <div class="container field-disclosure">
    {{ content.disclosure }}
  </div>
{% endif %}