{#
/**
 * @file
 * Custom implementation for a 'checkboxes' #type form element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The rendered checkboxes.
 *
 * @see themeFormElementLabel() in Horizon.php
 *
 * @ingroup themeable
 */
#}
<div class="checkbox styled-checkbox">
  <input type="checkbox" id="{{ horizon_label.element_id }}">
  <label{{ horizon_label.attributes }}>{{ horizon_label.text }}</label>
</div>
