{#
/**
 * @file
 * Custom implementation for a 'radio' #type form element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The rendered radio button.
 *
 * @see themeFormElementLabel() in Horizon.php
 *
 * @ingroup themeable
 *
 */
#}
<div class="radio styled-radio">
  <input type="radio" name="{{ horizon_radio.name }}" id="{{ horizon_radio.id }}" value="{{ horizon_radio.value }}" {{ horizon_radio.checked }}>
  <label{{ horizon_label.attributes }}>{{ horizon_label.text }}</label>
</div>