{% if hero_image_path is not empty %}
  <div class="hero {{ hero_inverse_class }}">
    <div class="hero-img" style="background-image: url({{ hero_image_path }});"></div>

    {% if hero_headline is not empty or hero_description is not empty or hero_cta_link is not empty and hero_cta_title is not empty %}
      <div class="hero-copy {{ hero_copy_alignment_class }}">
        {% if hero_headline is not empty %}
         <h1 class="hero-title">{{ hero_headline }}</h1>
        {% endif %}

        {% if hero_description is not empty %}
         <p>{{ hero_description }}</p>
        {% endif %}

        {% if hero_cta_link is not empty and hero_cta_title is not empty %}
          <a href="{{ hero_cta_link }}" class="btn btn-primary">
            <span class="cta-text">{{ hero_cta_title }}</span>
          </a>
        {% endif %}
      </div>
    {% endif %}
  </div>
{% endif %}
