{% for index, cta in ctas %}
  <div class="cta-wrapper util-padding-15 right-rail-component {{ classes }}">
    {% set cta_link = cta.link_url|render %}
    {% if index == 0 %}
      <div class="cta-primary bg-light-blue util-padding-15">
        <div class="cta-title">
          <strong>{{ cta.title }}</strong>
        </div>
        <div class="cta-body">
          {{ cta.body|raw }}
        </div>
        {% if cta_link %}
          <div class="cta-link">
            <a href="{{ cta.link_url }}" class="btn btn-primary btn-block"><div class="tout-cta-text">{{ cta.link_title }}</div></a>
          </div>
        {% endif %}
      </div>
    {% else %}
      <div class="cta-title">
        <strong>{{ cta.title }}</strong>
      </div>
      <div class="cta-body">
        {{ cta.body|raw }}
      </div>
      {% if cta_link %}
        <div class="cta-link">
          <a href="{{ cta.link_url }}" class="btn-link"><div class="tout-cta-text">{{ cta.link_title }}</div></a>
        </div>
      {% endif %}
    {% endif %}
  </div>
{% endfor %}
