.btn {

  &.next:after {
    content: "\f105";
    font-family: FontAwesome;
    visibility: visible;
    position: relative;
    margin-left: 5px;
    font-weight: bold;
  }

  &.prev:before {
    content: "\f104";
    font-family: FontAwesome;
    visibility: visible;
    position: relative;
    margin-right: 5px;
    font-weight: bold;
  }

}
